
body{
  font-size: 1.5rem !important;
}
.settings-drp {
  padding: 8px;
}
div#language-modal {
  height: 100%;
  -ms-flex: auto;
  flex: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hamburger__1HJQq {
    background-color: #00339900 !important;
}

.wrapper {
    display: inline-flex;
  background: #fff;
  height: 100px;
  width: -webkit-fill-available;
  max-width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
  .wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #187360;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1, #option-2:checked:checked ~ .option-2 {
    border-color: #2fb79a;
    background: #38927f;
}
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }


  .select-lan-screen {
    height: 100%;
    width: 100%;
    position: relative;
}

.center-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
    top: 20%;
}
button.btn.btn-primary.btn-continue-custom {
    color: white;
    background: #38927f;
    text-transform: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    height: auto;
    width: auto;
    padding: 6px 30px;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
}

select#langauge-dropdown {
  background: #38927f;
  border: 0;
  color: white !important;
  font-size: 17px;
  font-weight: 600;
}
button.menu-close-btn {
  border: 0;
  color: #505050;
  float: right;
  font-size: 25px;
  padding: 9px;
  height: auto;
  width: 59px;
}

.subheader-notification button {
  color: black !important;
}